@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title StockCTRL</h2>


<p>StockCTRL is a demonstration of a basic Stock Control Web Application, created using the MVC5 design pattern and is deployed to Amazon Web Services. The Home page renders a list of the items currently within the Database.</p>
<p>The StockItems page allows for the Creation of New Stock Items, as well as Editing, Viewing and Deleting items and commiting to a SQL Server Database also hosted on Amazon Web Services.</p>

<h3>Technologies used</h3>

<ul>
    <li>MVC 5 Design Pattern</li>
    <li>Autofac - Inversion of Control(Dependency Injection)</li>
    <li>Entity Framework - Database Connection</li>
    <li>LINQ - to query the data in the Database</li>
    <li>Working with Razor Pages</li>
    <li>Web API</li>
</ul>

<h3>Web API available</h3>
<ul>
    <li>~webroot/api/stockitems</li>
</ul>